.jobCategoryContainer {
    width: auto;
    margin: 0px 10px 10px 10px;
    height: fit-content;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 500;
    user-select: none;
}

.jobCategoryElement {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.jobCategoryElement div:not(.jobCategoryElementTitle) {
    width: 100%;
    text-align: center;
}

.jobCategoryBackground {
    width: auto;
    height: fit-content;
    padding: 0.05px 10px 0.05px 10px;
    font-size: 14px;
}

.jobCategoryElementTitle {
    width: 220%;
    text-align: left;
}

.jobType {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.jobType div:not(.jobProgressBar) {
    width: 100%;
    height: 30px;
    text-align: center;
    white-space: nowrap;
}

#statsOfflineProgressBar {
    color: var(--color0);
    line-height: 30px;
    font-weight: 500;
}

.jobProgressBar {
    background-color: var(--progressBarBackground);
    width: 220%;
    height: 30px;
}

.jobProgressBarProgress {
    background-color: var(--progressBarUnselected);
}

.selected.jobProgressBarProgress {
    background-color: var(--progressBarSelected);
}

.selected.jobProgressBar {
    background-color: var(--progressBarSelectedBackground);
}

.jobProgressBarText {
    position: relative;
    bottom: 30px;
    padding-left: 5px;
}

.jobIncomeDisplay span.usedCoin {
    margin-right: 3px;
}

.commonWork .jobCategoryElement {
    background-color: var(--commonWork);
    color: var(--taskText)
}

.military .jobCategoryElement {
    background-color: var(--military);
    color: var(--taskText)
}

.theArcaneAssociation .jobCategoryElement {
    background-color: var(--theArcaneAssociation);
    color: var(--taskText)
}

.commonWork .jobCategoryBackground {
    background-color: var(--commonWorkBackground);
    color: var(--taskTextBackground)
}

.military .jobCategoryBackground {
    background-color: var(--militaryBackground);
    color: var(--taskTextBackground)
}

.theArcaneAssociation .jobCategoryBackground {
    background-color: var(--theArcaneAssociationBackground);
    color: var(--taskTextBackground)
}

.skillCategoryContainer {
    width: auto;
    margin: 0px 10px 10px 10px;
    height: fit-content;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 500;
    user-select: none;
}

.skillCategoryElement {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.skillCategoryElement div:not(.skillCategoryElementTitle) {
    width: 100%;
    text-align: center;
}

.skillCategoryBackground {
    width: auto;
    height: fit-content;
    padding: 0.05px 10px 0.05px 10px;
    font-size: 14px;
}

.skillCategoryElementTitle {
    width: 220%;
    text-align: left;
}

.skillType {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.skillType div:not(.skillProgressBar) {
    width: 100%;
    height: 30px;
    text-align: center;
    white-space: nowrap;
}

#statsOfflineProgressBar {
    color: var(--taskText);
    line-height: 30px;
    font-weight: 500;
}

.skillProgressBar {
    background-color: var(--progressBarBackground);
    width: 220%;
    height: 30px;
}

.skillProgressBarProgress {
    background-color: var(--progressBarUnselected);
}

.selected.skillProgressBarProgress {
    background-color: var(--progressBarSelected);
}

.selected.skillProgressBar {
    background-color: var(--progressBarSelectedBackground);
}

.skillProgressBarText {
    position: relative;
    bottom: 30px;
    padding-left: 5px;
}

.skillIncomeDisplay span {
    margin-right: 3px;
}

.fundamentals .skillCategoryElement {
    background-color: var(--fundamentals);
    color: var(--taskText)
}

.combat .skillCategoryElement {
    background-color: var(--combat);
    color: var(--taskText)
}

.magic .skillCategoryElement {
    background-color: var(--magic);
    color: var(--taskText)
}

.darkMagic .skillCategoryElement {
    background-color: var(--darkMagic);
    color: var(--taskText)
}

.fundamentals .skillCategoryBackground {
    background-color: var(--fundamentalsBackground);
    color: var(--taskTextBackground)
}

.combat .skillCategoryBackground {
    background-color: var(--combatBackground);
    color: var(--taskTextBackground)
}

.magic .skillCategoryBackground {
    background-color: var(--magicBackground);
    color: var(--taskTextBackground)
}

.darkMagic .skillCategoryBackground {
    background-color: var(--darkMagicBackground);
    color: var(--taskTextBackground)
}

.skillCategoryRequirement {
    padding-left: 10px;
    background-color: var(--color6)
}

.jobCategoryRequirement {
    padding-left: 10px;
    background-color: var(--color6)
}

.categoryRequirementText {
    font-size: 15px;
    color: var(--color11);
}

.requirementText {
    color: var(--color10);
    text-align: left !important;
    margin-left: 5px
}

.taskReq span {
    margin-left: 5px
}

.taskReq {
    display: flex;
}

.fundamentals .taskReq {
    background-color: color-mix(in oklab, var(--fundamentalsBackground) 90%, #000000 10%)
}

.combat .taskReq {
    background-color: color-mix(in oklab, var(--combatBackground) 90%, #000000 10%)
}

.magic .taskReq {
    background-color: color-mix(in oklab, var(--magicBackground) 90%, #000000 10%)
}

.darkMagic .taskReq {
    background-color: color-mix(in oklab, var(--darkMagicBackground) 90%, #000000 10%)
}

.commonWork .taskReq {
    background-color: color-mix(in oklab, var(--commonWorkBackground) 90%, #000000 10%)
}

.military .taskReq {
    background-color: color-mix(in oklab, var(--militaryBackground) 90%, #000000 10%)
}

.theArcaneAssociation .taskReq {
    background-color: color-mix(in oklab, var(--theArcaneAssociationBackground) 90%, #000000 10%)
}