.jobCategoryContainer {
    width: auto;
    margin: 0px 10px 10px 10px;
    height: fit-content;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 500;
    user-select: none;
}

.jobCategoryElement {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.jobCategoryElement div:not(.jobCategoryElementTitle) {
    width: 100%;
    text-align: center;
}

.jobCategoryBackground {
    width: auto;
    height: fit-content;
    padding: 0.05px 10px 0.05px 10px;
    font-size: 14px;
}

.jobCategoryElementTitle {
    width: 220%;
    text-align: left;
}

.jobType {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.jobType div:not(.jobProgressBar) {
    width: 100%;
    height: 30px;
    text-align: center;
    white-space: nowrap;
}

#statsOfflineProgressBar {
    color: var(--color0);
    line-height: 30px;
    font-weight: 500;
}

.jobProgressBar {
    background-color: var(--progressBarBackground);
    width: 220%;
    height: 30px;
}

.jobProgressBarProgress {
    background-color: var(--progressBarUnselected);
}

.selected.jobProgressBarProgress {
    background-color: var(--progressBarSelected);
}

.selected.jobProgressBar {
    background-color: var(--progressBarSelectedBackground);
}

.jobProgressBarText {
    position: relative;
    bottom: 30px;
    padding-left: 5px;
}

.jobIncomeDisplay span.usedCoin {
    margin-right: 3px;
}

.commonWork .jobCategoryElement {
    background-color: var(--commonWork);
    color: var(--taskText)
}

.military .jobCategoryElement {
    background-color: var(--military);
    color: var(--taskText)
}

.theArcaneAssociation .jobCategoryElement {
    background-color: var(--theArcaneAssociation);
    color: var(--taskText)
}

.commonWork .jobCategoryBackground {
    background-color: var(--commonWorkBackground);
    color: var(--taskTextBackground)
}

.military .jobCategoryBackground {
    background-color: var(--militaryBackground);
    color: var(--taskTextBackground)
}

.theArcaneAssociation .jobCategoryBackground {
    background-color: var(--theArcaneAssociationBackground);
    color: var(--taskTextBackground)
}

.skillCategoryContainer {
    width: auto;
    margin: 0px 10px 10px 10px;
    height: fit-content;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 500;
    user-select: none;
}

.skillCategoryElement {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.skillCategoryElement div:not(.skillCategoryElementTitle) {
    width: 100%;
    text-align: center;
}

.skillCategoryBackground {
    width: auto;
    height: fit-content;
    padding: 0.05px 10px 0.05px 10px;
    font-size: 14px;
}

.skillCategoryElementTitle {
    width: 220%;
    text-align: left;
}

.skillType {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.skillType div:not(.skillProgressBar) {
    width: 100%;
    height: 30px;
    text-align: center;
    white-space: nowrap;
}

#statsOfflineProgressBar {
    color: var(--taskText);
    line-height: 30px;
    font-weight: 500;
}

.skillProgressBar {
    background-color: var(--progressBarBackground);
    width: 220%;
    height: 30px;
}

.skillProgressBarProgress {
    background-color: var(--progressBarUnselected);
}

.selected.skillProgressBarProgress {
    background-color: var(--progressBarSelected);
}

.selected.skillProgressBar {
    background-color: var(--progressBarSelectedBackground);
}

.skillProgressBarText {
    position: relative;
    bottom: 30px;
    padding-left: 5px;
}

.skillIncomeDisplay span {
    margin-right: 3px;
}

.fundamentals .skillCategoryElement {
    background-color: var(--fundamentals);
    color: var(--taskText)
}

.combat .skillCategoryElement {
    background-color: var(--combat);
    color: var(--taskText)
}

.magic .skillCategoryElement {
    background-color: var(--magic);
    color: var(--taskText)
}

.darkMagic .skillCategoryElement {
    background-color: var(--darkMagic);
    color: var(--taskText)
}

.fundamentals .skillCategoryBackground {
    background-color: var(--fundamentalsBackground);
    color: var(--taskTextBackground)
}

.combat .skillCategoryBackground {
    background-color: var(--combatBackground);
    color: var(--taskTextBackground)
}

.magic .skillCategoryBackground {
    background-color: var(--magicBackground);
    color: var(--taskTextBackground)
}

.darkMagic .skillCategoryBackground {
    background-color: var(--darkMagicBackground);
    color: var(--taskTextBackground)
}

.skillCategoryRequirement {
    padding-left: 10px;
    background-color: var(--color6)
}

.jobCategoryRequirement {
    padding-left: 10px;
    background-color: var(--color6)
}

.shopCategoryRequirement {
    padding-left: 10px;
    background-color: var(--color6)
}

.categoryRequirementText {
    font-size: 15px;
    color: var(--color11);
}

.requirementText {
    color: var(--color10);
    text-align: left !important;
    margin-left: 5px
}

.taskReq .grayed {
    margin-left: 5px
}

.taskReq {
    display: flex;
}

.fundamentals .taskReq {
    background-color: color-mix(in oklab, var(--fundamentalsBackground) 90%, #000000 10%)
}

.combat .taskReq {
    background-color: color-mix(in oklab, var(--combatBackground) 90%, #000000 10%)
}

.magic .taskReq {
    background-color: color-mix(in oklab, var(--magicBackground) 90%, #000000 10%)
}

.darkMagic .taskReq {
    background-color: color-mix(in oklab, var(--darkMagicBackground) 90%, #000000 10%)
}

.commonWork .taskReq {
    background-color: color-mix(in oklab, var(--commonWorkBackground) 90%, #000000 10%)
}

.military .taskReq {
    background-color: color-mix(in oklab, var(--militaryBackground) 90%, #000000 10%)
}

.theArcaneAssociation .taskReq {
    background-color: color-mix(in oklab, var(--theArcaneAssociationBackground) 90%, #000000 10%)
}

.shopCategoryContainer {
    width: auto;
    margin: 0px 10px 10px 10px;
    height: fit-content;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 500;
    user-select: none;
}

.shopCategoryElement {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.shopCategoryElement div:not(.shopCategoryElementTitle) {
    width: 100%;
    text-align: center;
}

.shopCategoryBackground {
    width: auto;
    height: fit-content;
    padding: 0.05px 10px 0.05px 10px;
    font-size: 14px;
}

.shopCategoryElementTitle {
    width: 100%;
    text-align: left;
}

.itemType {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.itemType div:not(.itemName) {
    width: 100%;
    height: 30px;
    text-align: center;
    white-space: nowrap;
}

.itemName {
    background-color: var(--shopItem);
    width: 100%;
    height: 30px;
}

.itemName[data-active="true"] {
    background-color: var(--shopItemActive);
}

.itemPriceDisplay span.usedCoin {
    margin-right: 3px;
}

.itemUpkeepDisplay span.usedCoin {
    margin-right: 3px;
}

.itemNameText{
    position: relative;
    padding-left: 5px;
}

.itemActiveDisplay[data-active="false"] {
    background-color: #181818;
    border: 3px solid #f0f0f0;
    box-sizing: border-box;
    width: 30px !important;
    margin-left: calc(50% - 15px);
} 

.itemActiveDisplay[data-active="true"] {
    background-color: oklch(80% 0.12 150);
    border: 3px solid #f0f0f0;
    box-sizing: border-box;
    width: 30px !important;
    background-clip: content-box;
    box-shadow: inset 0 0 0 4px #181818;
    margin-left: calc(50% - 15px);
}

.properties .shopCategoryElement {
    background-color: var(--properties);
    color: var(--taskText)
}

.properties .shopCategoryBackground {
    background-color: var(--propertiesBackground);
    color: var(--taskTextBackground)
}

.furniture .shopCategoryElement {
    background-color: var(--furniture);
    color: var(--taskText)
}

.furniture .shopCategoryBackground {
    background-color: var(--furnitureBackground);
    color: var(--taskTextBackground)
}

.equipment .shopCategoryElement {
    background-color: var(--equipment);
    color: var(--taskText)
}

.equipment .shopCategoryBackground {
    background-color: var(--equipmentBackground);
    color: var(--taskTextBackground)
}

.personnel .shopCategoryElement {
    background-color: var(--personnel);
    color: var(--taskText)
}

.personnel .shopCategoryBackground {
    background-color: var(--personnelBackground);
    color: var(--taskTextBackground)
}

.taskReq .requirementCoins .requirementCoinsEnd {
    color: var(--color10);
}

.shopCategoryRequirement .requirementCoins .requirementCoinsEnd {
    color: var(--color11);
}

.properties .taskReq {
    background-color: color-mix(in oklab, var(--propertiesBackground) 90%, #000000 10%)
}

.furniture .taskReq {
    background-color: color-mix(in oklab, var(--furnitureBackground) 90%, #000000 10%)
}

.equipment .taskReq {
    background-color: color-mix(in oklab, var(--equipmentBackground) 90%, #000000 10%)
}

.personnel .taskReq {
    background-color: color-mix(in oklab, var(--personnelBackground) 90%, #000000 10%)
}

.taskReq div {
    width: fit-content !important
}

.taskReq .requirementText:nth-of-type(2) {
    margin-left: 0;
    margin-right: 5px;
}