:root {
    --menuWidth: 1200px;
}

.rosarivo-regular {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
}

.rosarivo-regular-italic {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    margin: 1% 0 0 1%;
    color: var(--color0);
}

.title h1 {
    font-size: 28px;
}

.title img {
    position: static;
    float: left;
    width: 36px;
    height: 36px;
}

.tab {
    margin: 0% 1% 0 1%;
    padding-left: 1%;
}

.space {
    width: 0;
    height: 0;
    padding: 3px;
}

.hidden {
    display: none;
}

#info .red-letters {
    font-size: 22px;
    color: var(--red);
    font-weight: 500;
}

.display .age {
    font-size: 20px;
    margin-bottom: 0.5%;
    margin-top: 0px;
    color: var(--color0);
}

.sidebar {
    padding: 0.5% max(10px, 1%) max(10px, 1%) max(10px, 1%);
    margin-right: 5px;
    height: fit-content;
    min-width: 240px;
}

.menu {
    margin-bottom: 10px;
    padding-left: 0;
    height: 40px;
    width: var(--menuWidth);
    display: inline-flex;
}

.all-panels {
    display: flex;
    flex: row;
    justify-content: left;
}

.main-panel {
    height: auto;
    width: var(--menuWidth);
    padding-left: 0;
}

.menuButton {
    height: inherit;
    width: 100%;
    text-align: center;
    color: var(--color0);
    font-size: 16px;
    padding-top: 8px;
}

.menuButton:hover {
    color: var(--color0);
    background-color: var(--color2);
}

.menuButton.currentTab {
    background-color: var(--color10);
}

.settingsSubpanel {
    color: var(--color1, color2, gray);
    font-size: 16px;
    text-align: left;
    padding-bottom: max(2%, 16px);
}

.setting {
    padding: 10px;
    background-color: var(--color6);
}

#changelog-pre {
    padding-left: 20px;
}

.statsText {
    text-align: center;
}

.happiness {
    font-size: 20px;
    color: var(--happiness);
}

.money {
    font-size: 20px;
}

.grayed {
    font-size: 16px;
    margin: 0;
    color: var(--color2);
}

.heroPanel {
    width: var(--menuWidth);
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jobCategoryContainer {
    width: auto;
    margin: 0px 10px 10px 10px;
    height: fit-content;
    vertical-align: middle;
    line-height: 30px;
    font-weight: 500;
}

.jobCategoryElement {
    width: auto;
    height: 30px;
    padding-left: 10px;
}

.jobCategoryBackground {
    width: auto;
    height: 20px;
    padding-left: 10px;
}

.commonWork .jobCategoryElement {
    background-color: var(--commonWork);
    color: var(--color0)
}

.military .jobCategoryElement {
    background-color: var(--military);
    color: var(--color0)
}

.theArcaneAssociation .jobCategoryElement {
    background-color: var(--theArcaneAssociation);
    color: var(--color0)
}

.commonWork .jobCategoryBackground {
    background-color: var(--commonWorkBackground);
    color: var(--color0)
}

.military .jobCategoryBackground {
    background-color: var(--militaryBackground);
    color: var(--color0)
}

.theArcaneAssociation .jobCategoryBackground {
    background-color: var(--theArcaneAssociationBackground);
    color: var(--color0)
}