:root {
    --progressBarBackground: oklch(60% 0.1 90);
    --progressBarUnselected: oklch(70% 0.12 90);
    --progressBarSelectedBackground: oklch(60% 0.1 225);
    --progressBarSelected: oklch(70% 0.12 225);
}