body {
    text-shadow: 0 1px 5px var(--textShadow);
}

#currentJobsDisplay div span {
    text-shadow: 0 1px 5px var(--textShadow) !important;
}

#currentSkillsDisplay div span {
    text-shadow: 0 1px 5px var(--textShadow) !important;
}