:root {
    --color0: #f0f0f0;
    --color1: #bbbbbb;
    --color2: #888888;
    --color3: #666666;
    --color4: #444444;
    --color5: #282828;
    --color6: #222222;
    --color7: #181818;
    --grayed: #888888;
    --color10: oklch(55% 0.045 195);
    --color11: oklch(75% 0.055 195);
    --textShadow: black;
    --taskText: var(--color0);
    --taskTextBackground: var(--color0);
    --paused: oklch(75% 0.1 195);
    --toggled: oklch(75% 0.1 30);
    --expense: oklch(80% 0.12 30);
    --income: oklch(80% 0.12 150);
    --net: oklch(80% 0.12 270);
    --timeSpeed: oklch(70% 0.12 305);
    --happiness: oklch(90% 0.12 105);
    --evil: oklch(60% 0.2685 30);
    --red: #ff0000;
    --greenish: oklch(70% 0.12 140);
    --redish: oklch(70% 0.12 30);
    --commonWork: oklch(65% 0.15 135);
    --commonWorkBackground: oklch(45% 0.1 135);
    --military: oklch(45% 0.15 25);
    --militaryBackground: oklch(30% 0.1 25);
    --theArcaneAssociation: oklch(60% 0.2 355);
    --theArcaneAssociationBackground: oklch(40% 0.16 355);
    --fundamentals: oklch(50% 0.1 105);
    --fundamentalsBackground: oklch(35% 0.065 105);
    --combat: oklch(45% 0.15 45);
    --combatBackground: oklch(30% 0.1 45);
    --magic: oklch(60% 0.15 325);
    --magicBackground: oklch(40% 0.1 325);
    --darkMagic: oklch(35% 0.08 10);
    --darkMagicBackground: oklch(22.5% 0.05 10);

    --shopItem: oklch(60% 0 235);
    --shopItemActive: oklch(60% 0.12 140);
    --properties: oklch(60% 0.06 220);
    --propertiesBackground: oklch(40% 0.04 220);
    --furniture: oklch(30% 0.04 50);
    --furnitureBackground: oklch(20% 0.025 50);
    --equipment: oklch(60% 0.02 250);
    --equipmentBackground: oklch(40% 0.015 250);
    --personnel: oklch(60% 0.06 0);
    --personnelBackground: oklch(40% 0.04 0);

    --evilBackground: oklch(20% 0.03 30);
    --evilBackgroundHover: oklch(30% 0.06 30);
    --evilBorder: oklch(40% 0.15 30);
}

body {
    background-color: var(--color7);
}

.tab {
    background-color: var(--color5);
}

