:root {
    --color0: #101010;
    --color1: #666666;
    --color2: #777777;
    --color3: #888888;
    --color4: #bbbbbb;
    --color5: #d0d0d0;
    --color6: #dddddd;
    --color7: #e9e9e9;
    --color10: #a3c2c2;
    --color11: #527a7a;
    --paused: #19c3e6;
    --expense: #983e3e;
    --income: #3e983e;
    --net: #3e7a98;
    --happiness: #98983e;
    --timeSpeed: #6b3e98;
    --red: #ff0000;
    --commonWork: #997866;
    --commonWorkBackground: #c2ada3;
    --military: #cd3232;
    --militaryBackground: #e08585;
    --theArcaneAssociation: #d2468c;
    --theArcaneAssociationBackground: #ebadcc;
}

body {
    background-color: var(--color7);
}

.tab {
    background-color: var(--color5);
}

