:root {
    --color0: #101010;
    --color1: #666666;
    --color2: #777777;
    --color3: #888888;
    --color4: #bbbbbb;
    --color5: #d0d0d0;
    --color6: #dddddd;
    --color7: #e9e9e9;
    --grayed: #888888;
    --color10: oklch(75% 0.055 195);
    --color11: oklch(50% 0.045 195);
    --textShadow: black;
    --taskText: var(--color7);
    --taskTextBackground: var(--color7);
    --paused: oklch(75% 0.1 195);
    --toggled: oklch(75% 0.1 30);
    --expense: oklch(45% 0.1 30);
    --income: oklch(40% 0.12 150);
    --net: oklch(40% 0.12 270);
    --timeSpeed: oklch(40% 0.12 305);
    --happiness: oklch(60% 0.12 105);
    --evil: oklch(40% 0.1788 30);
    --red: #ff0000;
    --greenish: oklch(50% 0.12 140);
    --redish: oklch(50% 0.12 30);

    --commonWork: oklch(65% 0.15 135);
    --commonWorkBackground: oklch(45% 0.1 135);
    --carpentersGuild: oklch(65% 0.09 100);
    --carpentersGuildBackground: oklch(45% 0.06 100);
    --blacksmithersGuild: oklch(35% 0.02 25);
    --blacksmithersGuildBackground: oklch(25% 0.012 25);
    --merchantsGuild: oklch(50% 0.09 75);
    --merchantsGuildBackground: oklch(35% 0.06 75);
    --military: oklch(45% 0.15 25);
    --militaryBackground: oklch(30% 0.1 25);
    --theArcaneAssociation: oklch(60% 0.2 355);
    --theArcaneAssociationBackground: oklch(40% 0.16 355);

    --fundamentals: oklch(50% 0.1 105);
    --fundamentalsBackground: oklch(35% 0.05 105);
    --craftsmanship: oklch(60% 0.1 140);
    --craftsmanshipBackground: oklch(40% 0.065 140);
    --combat: oklch(45% 0.15 45);
    --combatBackground: oklch(30% 0.1 45);
    --magic: oklch(60% 0.15 325);
    --magicBackground: oklch(40% 0.1 325);
    --darkMagic: oklch(35% 0.08 10);
    --darkMagicBackground: oklch(22.5% 0.05 10);

    --shopItem: oklch(60% 0 235);
    --shopItemActive: oklch(60% 0.12 140);
    --properties: oklch(60% 0.06 220);
    --propertiesBackground: oklch(40% 0.04 220);
    --furniture: oklch(30% 0.04 50);
    --furnitureBackground: oklch(20% 0.025 50);
    --equipment: oklch(60% 0.02 250);
    --equipmentBackground: oklch(40% 0.015 250);
    --personnel: oklch(60% 0.06 0);
    --personnelBackground: oklch(40% 0.04 0);

    --evilBackground: oklch(80% 0.03 30);
    --evilBackgroundHover: oklch(70% 0.06 30);
    --evilBorder: oklch(60% 0.15 30);
}

body {
    background-color: var(--color7);
}

.tab {
    background-color: var(--color5);
}

.grayed:not(.taskReq span) {
    text-shadow: 0 0 0 !important;
}

.statsText {
    text-shadow: 0 0 0 !important;
}

#sidebar {
    text-shadow: 0 0 0 !important;
}

.categoryRequirementText {
    text-shadow: 0 0 0 !important;
}
